body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

.stopwatch-container {
    text-align: center;
}

.stopwatch {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(143, 209, 79);
    border: 5px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#time-display {
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.controls button {
    font-size: 0.9em;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    background-color: aquamarine;
}

.laps {
    margin-top: 20px;
}

#lap-list {
    list-style-type: none;
    padding: 0;
}
